
.topnav {
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  margin-left: 6rem;
}

/* Style the links inside the navigation bar */

.topnav a {
  float: left;
  display: flex;
  color: #666666;
  padding-left: 2rem;
  text-decoration: none;
  font-size: small;
}
.fas {
  float: right;
  border-color: black;
}

/* Change the color of links on hover */

.topnav a:hover {
  color: rgb(8, 8, 8);
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  float: none;
}

.fab {
  float: left;
  color: #0e76a8;
  size: 3rem;
  margin-right: 1.5rem;
}

/* Style the search field */

form.search input[type="text"] {
  padding: 0.5rem;
  font-size: small;
  border: none;
  float: left;
  width: 15%;
  background: #f1f1f1;
  margin-right: 6.25rem;
}

/* Style the submit button */

form.search button {
  float: left;
  width: 5%;
  padding: 0.5rem;
  background: #f1f1f1;
  color: #666666;
  font-size: small;
  border: none;
  cursor: pointer;
}
/* My pro  */
.proImg {
  border-radius: 0.5rem;
  max-width: 1.5rem;
  max-height: 1.5rem;
}
/* search button */

form.search button:hover {
  background: #6666666e;
}
